.headerPage{
	position: relative;
	padding-top:5px;
	padding-bottom: 20px;

	margin-top: -1px;

	text-align: left;

	font-size: @font-size-base;

	background-color: @headerbar-bg-color!important;
	background-image: url( @headerbar-bg-url );
	background-repeat: no-repeat;
	background-position: center -@headerbar-height;
	background-size: 200%;

	margin-bottom: 20px;


	&:before{
	    content: "";

	    width: 0;
	    height: 0;

	    border-style: solid;
	    border-width: 0 0 20px 500px;
	    border-color: transparent transparent white transparent;

	    position: absolute;

	    right: 0;
	    bottom: -5px;
	    z-index: 3;
	}

	&, h1, h2, h3, h4, a{
		color: white;
	}

	*:first-child{
		margin-top: 0;
	}
}