/*=================================
=            container            =
=================================*/

.Container--fill > .Container--fill{
	width: 100%;

	background: @app-background;

	font-family: @app-font-family;
	color: @app-color;
	font-size: @font-size-base;
}


.Container--fill > .Container--fill > div{
	width: 100%;
}

.padding{
	padding: 0 @app-gutter;
}


/*-----  End of container  ------*/
