.text-left{
	text-align: left;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-light{
	color: @app-gray-light;
}


hr{
	border-top: 0;
	border-bottom: 1px solid @app-primary-light;
}